################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/OffLineLender2
/.vs/OffLineLender2/
/.vs/OffLineLender2/v15/Server/sqlite3/db.lock
/obj/Release
/.vs/OffLineLender2/v16/Server/sqlite3
/.vs/OffLineLender2/v16
.vs/
*.suo
