<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>

    <add name="SQLConnectionString" connectionString="server=livedb.c5vs7ws3kvno.eu-west-2.rds.amazonaws.com,1433;database=Shadow;uid=MAINUSER;password=crz,3zp9;"/>

  </connectionStrings>
  <appSettings>
    <add key="EmailTemplatePath" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LogDir" value=""/>
    <add key="LogEqInv" value=""/>
    <add key="TheIP" value="35.178.224.36"/>
    <add key="DataDir" value="C:\Users\steph\Source\Repos\Support-Dashboard\Data\"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
